*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    width: 100%;
    height: 55px;
    background-color: rgb(94, 94, 94);
    color: rgb(238, 238, 238);
    line-height: 75px;
    padding: 0px 100px;
    position: fixed;
    z-index: 1;
}
nav .logo{
    font-size: 30px;
    letter-spacing: 1.5px;
}
nav .logo p{
    float: left;
    color: rgb(77 7 143);
    text-transform: uppercase;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 0px;

}
nav ul{ float: right;}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 16px;
    padding: 0px 32px;
    padding-top: 0%;
}
body{
    background-image: url(bg2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.loginpage{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
    position: center;
}
.form{
    position: relative;
    z-index: 1;
    background: rgb(94, 94, 94);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input{
    font-family: 'Times New Roman', Times, serif;
    outline: 1;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgb(39, 39, 39);
    color: rgb(212, 212, 212);
}
.form button{
    font-family: 'Times New Roman', Times, serif;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    background: rgb(39, 39, 39);
    color: rgb(238, 238, 238);
}
